.headerContainer {
    background-image: linear-gradient(to right bottom, orange, yellow),
        url('https://image-us.24h.com.vn/upload/4-2019/images/2019-12-17/1576580871-929bdf4f16b86295376a79e7a8a0b7fe.jpg');
    height: 10rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.projectHeader {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.projectName {
    background-image: linear-gradient(to right bottom, blue, purple);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    font-size: 2.2rem;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.headerNavbar {
    height: 10rem;
    display: flex;
    justify-content: space-between;
}
.headerMenu {
    height: 10rem;
    list-style: none;
}
.headerItem {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    margin-right: 8px;
    cursor: pointer;
}
.headerItem:hover {
    color: rgba(255, 255, 255, 0.363);
}
.hasDivide::before {
    content: '';
    border: 1px solid #ccc;
    height: 2rem;
    position: relative;
    left: -3px;
}
